# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------|
|Java-ML|
|Hadoop|
|DeepLearning4|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
### This a simple arithmetic expression to mutiply then add integers
(4*3)+5

17

In [3]:
### This will convert 200 minutes to hours by diving by 60

total_minutes = 200

minutes_per_hour = 60

total_hours = total_minutes/minutes_per_hour

total_hours

3.3333333333333335

**Objectives**
* List popular languages for Data Science
* List popular libraries for Data Science
* Perform basic arithmeric in Jupyter Notebook

## Author
Mubarak Akindayo Monsuru